<div id="<%= dom_id alert %>">
  <div>
    <strong>User:</strong>
    <%= alert.user_id %>
  </div>

  <div>
    <strong>Expense:</strong>
    <%= alert.expense_id %>
  </div>

  <div>
    <strong>Alert type:</strong>
    <%= alert.alert_type %>
  </div>

  <div>
    <strong>Message:</strong>
    <%= alert.message %>
  </div>

  <div>
    <strong>Channel:</strong>
    <%= alert.channel %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= alert.status %>
  </div>

  <div>
    <strong>Sent at:</strong>
    <%= alert.sent_at %>
  </div>

</div>
