<div id="<%= dom_id expense %>">
  <div>
    <strong>User:</strong>
    <%= expense.user_id %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= expense.category_id %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= expense.description %>
  </div>

  <div>
    <strong>Amount:</strong>
    <%= expense.amount %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= expense.date %>
  </div>

</div>
