<div id="<%= dom_id monthly_goal %>">
  <div>
    <strong>User:</strong>
    <%= monthly_goal.user_id %>
  </div>

  <div>
    <strong>Year:</strong>
    <%= monthly_goal.year %>
  </div>

  <div>
    <strong>Month:</strong>
    <%= monthly_goal.month %>
  </div>

  <div>
    <strong>Savings target:</strong>
    <%= monthly_goal.savings_target %>
  </div>

  <div>
    <strong>Spending limit:</strong>
    <%= monthly_goal.spending_limit %>
  </div>

  <div>
    <strong>Current balance:</strong>
    <%= monthly_goal.current_balance %>
  </div>

</div>
