<nav class="navbar">
  <div class="navbar-left">
    <div class="navbar-brand-icon">
      <svg viewBox="0 0 16 16" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
        <rect x="2" y="3" width="12" height="10" rx="2"/>
        <path d="M2 7h12"/>
        <path d="M6 11h4"/>
      </svg>
    </div>
    <%= link_to "FinCtrl", root_path, class: "navbar-brand" %>
    <div class="navbar-divider"></div>
    <%= link_to "Dashboard", root_path, class: "navbar-link" %>
  </div>
  <div class="navbar-right">
    <div class="navbar-user">
      <div class="navbar-avatar">
        <%= current_user.email[0].upcase %>
      </div>
      <span class="navbar-email"><%= current_user.email %></span>
    </div>
    <%= link_to destroy_user_session_path, method: :delete, class: "navbar-logout" do %>
      <svg width="15" height="15" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
        <path d="M6 2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h3"/>
        <path d="M11 11l3-3-3-3"/>
        <path d="M14 8H6"/>
      </svg>
      Sair
    <% end %>
  </div>
</nav>